.env
.vscode/
uri.txt

# everything related to audio
recordings/
input.wav
nao_input.wav
naoinput.wav
input_noise_reduced.wav
input_spectral_subtraction.wav


# python
__pycache__/



# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
Desktop.ini
